body{
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
}

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #32527B;
}



/* ------------------------------------------LANDING PAGE-------------------------- */
/* -----NAVBAR----- */
.navbar-brand span{
    font-family: Ubuntu;
    font-size: 3.5rem;
    font-weight: 400;
    color: #C4C4C4;
}

/* .nav-item {
    padding: 0 18px;

} */

.nav-link {
    font-size: 1.2rem;
}

/* -----JUMBOTRON----- */

.jumbotron {
    margin-top: 1rem;
    background-image: url("../img/main.jpg");
    background-size: cover;
    background-position-y: 15%;
    height: 42rem;
}

@media only screen and (max-width: 1050px) {
    .jumbotron {
        height: 25rem;
    }
  }

/* -------- BIO --------- */
.bio-header{
    margin-bottom: 5%;
}
  

/* --------NEWS---------- */
.news-section {
    margin-top: 6%;
    margin-bottom: 6%;
}

.newsHeader {
    margin-bottom: 5%;
}

/* --------FOOTER--------- */
.site-footer {
    background-color: #464648;
    margin-top: 5%;
    padding: 2.5rem 0;
}

.footer-link {
    font-size: 2rem;
    color: #fff;
}

.footer-link:hover {
    color: #000;
}
.social-icon{
    color: #fff;
}

.copyright {
    font-size: .7rem;
    font-weight: bold;
}

a:-webkit-any-link {
    text-decoration: none;
    
}

/* --------------------------------------------------STUDIO--------------------------------- */

/* CASROUSSEL */

/* .container-fluid{
    margin: 0;
    padding: 0;
} */

.carousel-img1, .carousel-img2, .carousel-img3 {
    height: 30rem;
    object-fit: cover;

}

.carousel-caption {
    color: black;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
}
.carousel-caption p{
    font-weight: bold;
}

/* -------------PLANS--------- */
.plans {
    margin-top: 5%;
}

/* -------STUDENT LOGIN---------- */
.student-login {
    text-align: center;
    padding: 5%;
}



form {
    margin-top: 15%;
    text-align: left;
}

/* ---------------------------------------------STUDENT PORTAL--------------------------- */
.student-portal {
    margin-top: 5%;
    text-align: center;
}

.student-portal h2 {
    font-size: 2.5rem;
}

.student-portal h3 {
    color: #32527B;
    font-size: 1.5rem;
}

.student-portal .container {
    text-align: left;
}

/* ------EXTRA RESOURCES ------- */

.extra-resources {
    margin-top: 10%;
    background-color: #ececec;
    text-align: center;
    padding: 5%;
}

/* -----Make Payment---- */

.make-payment {
    background-color: #fff;
    text-align: right;
    padding: 5%;
}

/* ----------------------------------SHOPPING CART -------------------------------- */
/* ----Items-list--- */


.shopping-header {
    margin-bottom: 10%;
}

.items-list {
    margin-top: 5%;
    /* margin-bottom: 10%; */
    padding-bottom: 5%;
    /* border: 3px solid #32527B; */
    text-align: center;
}

.shopping-footer {
    height: 200px;
    width: 100%;
}





/* ---CHECKOUT COLUMN---- */
.checkout-column{
    margin-top: 5%;
   padding-left: 12%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .checkout-column{
        padding-left: 33%;
    }
}

.checkout-button{
    padding: 3% 18%;
}

.paypal-icon {
    font-size: xxx-large;
    padding-left: 20%;   
}

.payment-icons {
    font-size: xx-large;
    padding-left: 11%;
}

/* ----------------------------------DONATION--------------------------------- */
.make-donation {
    border: 3px solid #32527B;
    margin-top: 5%;
    padding: 5% 2% 2%;
}

.make-donation h1 {
    color: #32527B;
    text-align: center;
}

 .donation-img {
   width: 35rem;
   height: 43rem;
   margin-top: 5%;
}

.donation-pic {
    margin-top: 1.7rem;
    background-image: url("../img/clar1.jpg");
    background-size: cover;
  }

