body{
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
}

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h2 {
    color: #32527B;
}
.carousel-captio p{
    font-weight: 400;
}


/* --------------------------------------------------STUDIO--------------------------------- */

/* CASROUSSEL */

.container-fluid{
    margin: 0;
}

.carousel-img1 {
    height: 20rem;
    width: 40rem;
    object-fit: cover;
}
.carousel-img2 {
    height: 20rem;
    width: 40rem;
    object-fit: cover;
}
.carousel-img3 {
    height: 20rem;
    width: 40rem;
    object-fit: cover;
}
.carousel-caption {
    color: black;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
}

/* -------------PLANS--------- */
.plans {
    margin-top: 5%;
}

/* -------STUDENT LOGIN---------- */
.student-login {
    margin-top: 10%;
    text-align: center;
    background-color: #ececec;
    padding-top: 5%;
}



form {
    margin-top: 15%;
    text-align: left;
}

/* ---------------------------------------------STUDENT PORTAL--------------------------- */
.student-portal {
    margin-top: 5%;
    text-align: center;
}

.student-portal h2 {
    font-size: 2.5rem;
}

.student-portal h3 {
    color: #32527B;
    font-size: 1.5rem;
}

.student-portal .container {
    text-align: left;
}

/* ------EXTRA RESOURCES ------- */

.extra-resources {
    margin-top: 10%;
    background-color: #ececec;
    text-align: center;
    padding: 5%;
}

/* -----Make Payment---- */

.make-payment {
    background-color: #fff;
    text-align: right;
    padding: 5%;
}

/* ----------------------------------SHOPPING CART -------------------------------- */
/* ----Items-list--- */
.items-list {
    margin-top: 3%;
    padding: 5%;
    border: 3px solid #32527B;
    text-align: center;
}

.items-list h1 {
    color: #32527B;
    padding-bottom: 10%;
}


/* ---CHECKOUT COLUMN---- */
.checkout-column{
    padding: 5%;
}

.checkout-button{
    padding: 3% 18%;
}

.paypal {
    margin: 5% 0;
}

/* ----------------------------------DONATION--------------------------------- */
.make-donation {
    border: 3px solid #32527B;
    margin-top: 5%;
    padding: 5% 2% 2%;
}

.make-donation h1 {
    color: #32527B;
    text-align: center;
}

 .donation-img {
   width: 35rem;
   height: 43rem;
   margin-top: 5%;
}

.donation-pic {
    margin-top: 1.7rem;
    background-image: url("../img/clar1.jpg");
    background-size: cover;
  }

